.container {  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto ;
    height: 600px; 
    width: 700px;
 }
  
 

.card {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form-container { 
    width: 60%;
    margin-right: 10%;
}
.container p{
    font-size: 140%;
    text-align: center;

}
.blue-panel {
    width: 24%;
    background-color: #0a0c11;
    padding: 80px;
    box-sizing: border-box;
    color: white;
}
.container h2 {
    margin-left: 15%;
    font-size: 25px;
    text-align: center;
}

.container label {
    font-size: 18px;
} 

.button {
    margin-left: 52%;
    margin-top: 32%;
    border-radius: 10px;
    background-color: blue;
    color: white;
;}
.container li {
    color: white;
}

.container li a {
    text-align: center;
    color: grey;
}




/*.{
    background-color:rgba(166, 191, 250, 0.311);
}*/

