.card {
    width: 700px;
    height: 935px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
  }

  /*.title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 12px;
    background-color: rgba(18, 126, 203, 0.637);
  }
*/

.container h2{
    background-color: rgba(59, 120, 253, 0.763);
    width:315px;
    border-radius: 12px;
    border: black solid;
    
}
  .subtitle {

background-color: rgb(9, 9, 62);
color: white;
font-size: 15px;
width: 32%;
text-align:center;
margin: 20px;

}


.form-group {
    margin-bottom: 20px;
    padding-top: 5px;
  }

  .slider-container {
    display: flex;
    align-items: center;
  }

  .slider {
    flex: 1;
  }

  .input-container {
    display: flex;
    align-items: center;
  }

  .input {
    flex: 1;
  }

  .sub1{
color: grey;

}

.sub2{
    color: grey;
    
    }
    
  .sub3{
    color: grey;
    
    }
    
  .sub4{
    color: grey;
    
    }
    
  .sub5{
    color: grey;
    
    }
    .in1{
        color: black;
        font-size: 18px;
        font-style: italic;
    }

    .in2{
        color: black;
        font-size: 18px;
        font-style: italic;
    }

    .in3{
        color: black;
        font-size: 18px;
        font-style: italic;
    } 

    .range1 {
        color: black;
        font-size: 18px;
        font-style: italic;
    }

    .range2 {
        color: black;
        font-size: 18px;
        font-style: italic;
    }

    .range3 {
        color: black;
        font-size: 18px;
        font-style: italic;
    }

    .range4 {
        color: black;
        font-size: 18px;
        font-style: italic;
    }

    .range5 {
        color: black;
        font-size: 18px;
        font-style: italic;
    }

    